* {font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    color: #ffffff;
    max-width: 1000px;
    gap: 15px;
    width: 60%;
    height: 90%;
    margin: 10px;
    justify-items: center;
    align-items: center;
}

header {
    height: 80px;
    width: auto;
    margin: 90px;
}

.box {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    color: rgb(72, 72, 77);
}

.box:hover {
    color: rgb(252, 250, 250);
}

img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 20px;
    border: transparent;
}


li:hover .imagem {
    border: 1px solid white;
    border-radius: 10px;
   
} 

li:hover p {
    color: #ffffff;
} 

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin-block-end: 40px;
    height: 40px;
    color: #808080;
}

.logo {
    border: none;
    height: 100px;
    width: auto;
}

.title {
    font-size: 22px;
    color: #ffffff;
}

.container-perfil {
    margin: 10px;
    padding: 10px;
    border-bottom: #ffffff;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: #000000;
}